{% extends "base.html" %}
{% block content %}

<div class="col-md-8  col-md-offset-2">
<div class="jumbotron  login_jumbo">
	<h2>Sistema de configuração  do automóvel</h2>
	<p>Ao clicar no botão abaixo o sistema tentará detectar sua face</p>
	   <div class="col-md-8 col-md-offset-5" style="margin-top: 10px;">
	    	<p><a role="button" href="#" class=" btn-lg btn-primary">Iniciar</a></p>
	    	<div class="toggle toggle-modern">
	    </div>
    </div>

 </div>	

 {% include "automotivo_class.html" %}

{% endblock content %}


